# Top level

ifndef TOP_LOOP
export TOP_LOOP := 1
export TOP := $(abspath .)
export INCLUDE := $(TOP)/include
export TARGET := $(abspath ../bin)
export PACKAGE_PREFIX := m3
export CURRENT_PREFIX := $(PACKAGE_PREFIX)
export CC := gcc
export CXX := g++
export CMACRO :=
export CXXMACRO := $(CMACRO)
COMMONFLAGS := -I "$(INCLUDE)"
export CFLAGS := $(CMACRO) $(COMMONFLAGS)
export CXXFLAGS := $(CXXMACRO) $(COMMONFLAGS)
endif
SET_CURRENT := 1

.PHONY: all
all:
	$(MAKE) this.o
	$(MAKE) progs
